@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Oswald:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(to left, #eeaeca, #94bbe9 60%);
    font-family: Oswald;
    text-align: center;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}


.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.237);
    width: 300px;
    padding-bottom: -20px;
    margin-bottom: 20px;
    margin-right: 50px;
}

.title {
    color: white;
    font-size: 3em;
    text-transform: uppercase;
    text-shadow: 2px 2px rgba(255, 255, 255, 0.267);
    padding: 30px;
}

.text {
    font-size: 1.6em;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

.list-1 {
    font-size: 1.5em;
    width: 220px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.174);
    padding: 15px;
    justify-items: center;
}

.list-2 {
    font-size: 1.5em;
    padding-top: 15px;
}

.price {
    color: black;
    font-weight: bold;
    font-size: 3.5em;
    padding-top: 15px;
    padding-bottom: 15px;
}

a {
    display: flex;
    justify-content: center;
    align-items: center;
    background: yellow;
    color: black;
    border-radius: 10px;
    width: 250px;
    height: 60px;
    margin-bottom: 20px;
    text-decoration: none;
    font-size: 1.5em;
}